<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<section class="container container--blend">
  <h2 class="text--title-large spacer--bottom-medium">
    <span class="text--title-large text--red">[product name]</span> blend
  </h2>

  <div class="slider-container spacer--bottom-large">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p class="swiper-slide__text">
            <span class="text--title-medium">Metabolism Boosting</span>
            <br /><br />
            These powerful superfoods ignite your metabolism and reduce
            bloating. They improve digestion and deliver the energy you need
            to get things done.
            <br /><br />
            Main Organic Ingredients:
          </p>
          <div class="swiper-grid">
            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/acai_berry.png"
                alt="organic acai berry"
              />
              <p class="swiper-grid__text">organic acai<br />berry</p>
            </div>

            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/acacia_gum.png"
                alt="organic acacia gum"
              />
              <p class="swiper-grid__text">organic<br />acacia gum</p>
            </div>

            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/organic_cinamon.png"
                alt="organic ceylon cinnamon bark"
              />
              <p class="swiper-grid__text">organic ceylon cinnamon bark</p>
            </div>

            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/green_tea.png"
                alt="organic green tea"
              />
              <p class="swiper-grid__text">organic<br />green tea</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <p class="swiper-slide__text">
            <span class="text--title-medium"
              >Promote Wellness and Longevity</span
            >
            <br /><br />
            Our blend is designed to support overall wellness and longevity.
            It's packed with nutrients that help you live a healthier and
            more vibrant life.
            <br /><br />
            Key Benefits:
          </p>
          <div class="swiper-grid">
            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/green_tea.png"
                alt="organic green tea"
              />
              <p class="swiper-grid__text">organic<br />green tea</p>
            </div>

            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/acacia_gum.png"
                alt="organic acacia gum"
              />
              <p class="swiper-grid__text">organic<br />acacia gum</p>
            </div>

            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/organic_cinamon.png"
                alt="organic ceylon cinnamon bark"
              />
              <p class="swiper-grid__text">organic ceylon cinnamon bark</p>
            </div>

            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/acai_berry.png"
                alt="organic acai berry"
              />
              <p class="swiper-grid__text">organic acai<br />berry</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <p class="swiper-slide__text">
            <span class="text--title-medium">Boost Your Fitness</span>
            <br /><br />
            Our unique blend supports enhanced fitness and performance.
            Whether you're an athlete or just getting started on your
            fitness journey, our product helps you achieve your goals.
            <br /><br />
            Key Benefits:
          </p>
          <div class="swiper-grid">
            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/acacia_gum.png"
                alt="organic acacia gum"
              />
              <p class="swiper-grid__text">organic<br />acacia gum</p>
            </div>

            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/green_tea.png"
                alt="organic green tea"
              />
              <p class="swiper-grid__text">organic<br />green tea</p>
            </div>

            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/acai_berry.png"
                alt="organic acai berry"
              />
              <p class="swiper-grid__text">organic acai<br />berry</p>
            </div>

            <div class="card card--ingredient">
              <img
                class="swiper-grid__img"
                src="images/organic_cinamon.png"
                alt="organic ceylon cinnamon bark"
              />
              <p class="swiper-grid__text">organic ceylon cinnamon bark</p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-navigation-container">
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-custom"></div>
        <div class="swiper-button-next swiper-button-custom"></div>
      </div>
    </div>
  </div>

  <button class="button" onclick="addToCartAlert()">add to cart</button>
</section>
