<section class="container container--faq">
  <h2 class="text--title-medium spacer--bottom-small">FAQs</h2>

  <div class="faq-section">
    <div class="faq-section__item">
      <div class="faq-section__item__question">
        <h3 class="faq-section__item__question__text">
          What are the Effective ingredients in Trumeta Reds?
        </h3>
        <img
          class="faq-section__item__question__arrow"
          src="images/angle-left-solid 1.png"
          alt="arrow"
        />
      </div>
      <p class="faq-section__item__answer">
Trumeta Reds contains 3 blends and 25 vitality-boosting superfoods:

<b>Metabolism-Boosting Blend:</b>
Organic Acai - This Amazon superfruit is a rich source of healthy fats. Clears brain fog and promotes stronger memory.
Organic Green Tea - Improves memory, focus, and the ability to relax. Promotes healthier sugar metabolism.
Organic Acacia - This ancient Egyptian remedy calms the belly. Reduces diarrhea and constipation. Decreases body fat.
Organic Cinnamon - This belly-slimming sweet spice blocks carb breakdown and sugar absorption. Reduces appetite and balances blood sugar.

<b>Super Antioxidant Immune Blend:</b>
Organic Pineapple - This Hawaiian treat decreases joint discomfort and accelerates exercise recovery.
Organic Strawberry - Promotes healthy blood sugar and cholesterol. Protects nerve cells in the brain.
Organic Beetroot - Enhances blood flow, circulation, and metabolic repair.
Organic Bilberry - Curbs cravings. Boosts energy levels. Promotes healthy digestion. Decreases diarrhea.
Organic Raspberry - Supports joint health and comfort. Reduces fat accumulation and fatty deposits in the liver.
Organic Blueberry - Enhances focus and productivity. Improves muscle soreness and recovery after exercise.
Organic Banana - Improves gut and immune health. Reduces appetite.
Organic Cranberry - Promotes a healthy urinary tract. Great for UTI prevention. Supports healthy skin and heart.
Organic Pomegranate - This ancient biblical fruit maintains a healthy bacteria balance in your gut. Supports stronger memory and brain health.
Organic Cherry - Supports a restful night's sleep. May increase sleep duration by almost 90 minutes.
Organic Apple - Keeps you feeling full so you eat less. Promotes a healthy gut and digestion.
Organic Papaya - Reduces skin aging. Reduces bloating and constipation weighing you down.
Organic Goji - Enhances glucose energy metabolism. Reduces fatty liver deposits.
Organic Grape - Boosts skin collagen. Protects vision from harmful blue light. Promotes a healthy heart and bones.
Organic Maqui - Growing high up in the Chilean mountains, this superfruit balances blood sugar and fights premature aging.
      </p>
    </div>

    <div class="faq-section__item">
      <div class="faq-section__item__question">
        <h3 class="faq-section__item__question__text">Other question?</h3>
        <img
          class="faq-section__item__question__arrow"
          src="images/angle-left-solid 1.png"
          alt="arrow"
        />
      </div>
      <div class="faq-section__item__answer">
Answer to the other question.
      </div>
    </div>

    <div class="faq-section__item">
      <div class="faq-section__item__question">
        <h3 class="faq-section__item__question__text">Other question?</h3>
        <img
          class="faq-section__item__question__arrow"
          src="images/angle-left-solid 1.png"
          alt="arrow"
        />
      </div>
      <div class="faq-section__item__answer">
Answer to the other question.
      </div>
    </div>

    <div class="faq-section__item">
      <div class="faq-section__item__question">
        <h3 class="faq-section__item__question__text">Other question?</h3>
        <img
          class="faq-section__item__question__arrow"
          src="images/angle-left-solid 1.png"
          alt="arrow"
        />
      </div>
      <div class="faq-section__item__answer">
Answer to the other question.
      </div>
    </div>
  </div>
</section>
