<section class="container">
  <div class="grid grid--4-cards">
    <div class="card card--pink">
      <img
        class="card--pink__logo"
        src="images/moon icon.png"
        alt="moon icon"
      />
      <h3 class="card--pink__text">Improves<br />sleep</h3>
    </div>

    <div class="card card--pink">
      <img
        class="card--pink__logo"
        src="images/shield icon.png"
        alt="shield icon"
      />
      <h3 class="card--pink__text">Boosts immune<br />system</h3>
    </div>

    <div class="card card--pink">
      <img
        class="card--pink__logo"
        src="images/fist icon.png"
        alt="fist icon"
      />
      <h3 class="card--pink__text">Enhances<br />strength</h3>
    </div>

    <div class="card card--pink">
      <img
        class="card--pink__logo"
        src="images/snake icon.png"
        alt="snake icon"
      />
      <h3 class="card--pink__text">Improves<br />digestion</h3>
    </div>
  </div>
</section>
