<section class="container">
  <h2 class="text--title-medium spacer--bottom-small">
    Performance nutrition and healthy transformation made simple:
  </h2>

  <div class="grid grid--performance">
    <div class="card card--white">
      <img
        class="card--white__logo"
        src="images/running man.svg"
        alt="x icon"
      />
      <h3 class="card__text card--white__text">
        Enhance <b>endurance</b>, <b>performance</b>, and exercise
        <b>recovery</b>
      </h3>
    </div>

    <div class="card card--white">
      <img
        class="card--white__logo"
        src="images/red lightning bolt.svg"
        alt="x icon"
      />
      <h3 class="card__text card--white__text">
        Enjoy jitter-free <b>energy</b> to tackle your busy schedule
      </h3>
    </div>

    <div class="card card--white">
      <img
        class="card--white__logo"
        src="images/shield-virus-solid 1.svg"
        alt="x icon"
      />
      <h3 class="card__text card--white__text">
        Strengthen your <b>immune health</b> to stay on your game
      </h3>
    </div>

    <div class="card card--white">
      <img
        class="card--white__logo"
        src="images/thumbs up.svg"
        alt="x icon"
      />
      <h3 class="card__text card--white__text">
        <b>Tastes amazing</b>! No bitterness, gritty, or clumpy texture
      </h3>
    </div>

    <div class="card card--white">
      <img
        class="card--white__logo"
        src="images/check mark.svg"
        alt="x icon"
      />
      <h3 class="card__text card--white__text">
        <b>30 sec habit</b>. Mixes in any beverage fast and easy
      </h3>
    </div>

    <div class="card card--white">
      <img class="card--white__logo" src="images/fire.svg" alt="x icon" />
      <h3 class="card__text card--white__text">
        Recharged <b>metabolism</b> to stay in peak shape
      </h3>
    </div>
  </div>
</section>
