<section class="container">
  <h2 class="text--title-large spacer--bottom-large">
    meticulous methodical process
  </h2>

  <div class="grid grid--process">
    <div class="grid--process__item">
      <img
        class="grid--process__item__icon"
        src="images/hand icon.svg"
        alt="hand icon"
      />
      <p class="grid--process__item__text grid--process__item__text--right">
        <b>Mission</b><br />
        Our team of researchers are working around the clock to uncover the
        best performance and health-boosting superfoods on the planet. We do
        the homework so you don't have to. Each superfood is supported by
        strong clinical studies.
      </p>
      <div
        class="grid--process__item__horizontal-line grid--process__item__horizontal-line--right"
      >
        <img src="images/point.png" alt="point icon" />
        <img src="images/horizontal line.png" alt="horizontal line" />
      </div>
      <img
        class="grid--process__item__arrow"
        src="images/arrow.svg"
        alt="arrow"
      />
    </div>

    <!-- Vertical middle line with logos (desktop only) -->
    <div class="grid--process__middle grid--process--mb-void">
      <div class="grid--process__middle__vector">
        <img
          class="grid--process__middle__vector__point"
          src="images/point.png"
          alt="point icon"
        />
        <img
          class="grid--process__middle__vector__line"
          src="images/snake line.png"
          alt="vector line"
        />
        <img
          class="grid--process__middle__vector__point--bottom"
          src="images/point.png"
          alt="point icon"
        />
      </div>
      <div class="grid--process__middle__icons">
        <img src="images/hand icon.svg" alt="hand icon" />
        <img src="images/error icon.svg" alt="error icon" />
        <img src="images/heart-solid 1.svg" alt="heart icon" />
        <img src="images/body icon.svg" alt="body icon" />
      </div>
    </div>
    <!-- Vertical middle line with logos (desktop only) -->

    <div class="grid--process__item grid--process--mb-void"></div>
    <div class="grid--process__item grid--process--mb-void"></div>

    <div class="grid--process__item">
      <img
        class="grid--process__item__icon grid--process__item__icon--right"
        src="images/error icon.svg"
        alt="error icon"
      />
      <p class="grid--process__item__text">
        <b>The problem</b><br />
        our advisory panel reviews all of the scientific research in detail.
        Each ingredient must pass the rigorous approval process. Once
        approved, only then do our formulas move on to production.
      </p>
      <div class="grid--process__item__horizontal-line">
        <img src="images/horizontal line.png" alt="horizontal line" />
        <img src="images/point.png" alt="point icon" />
      </div>
      <img
        class="grid--process__item__arrow grid--process__item__arrow--flipped"
        src="images/arrow.svg"
        alt="arrow"
      />
    </div>

    <div class="grid--process__item">
      <img
        class="grid--process__item__icon"
        src="images/heart-solid 1.svg"
        alt="heart icon"
      />
      <p class="grid--process__item__text grid--process__item__text--right">
        <b>That isn't therapeutic</b><br />
        Production takes place in our GMP-compliant, state of the art
        manufacturing facility. Once again, only using 100% organic
        ingredients that have been verified by the USDA.
      </p>
      <div
        class="grid--process__item__horizontal-line grid--process__item__horizontal-line--right"
      >
        <img src="images/point.png" alt="point icon" />
        <img src="images/horizontal line.png" alt="horizontal line" />
      </div>
      <img
        class="grid--process__item__arrow"
        src="images/arrow.svg"
        alt="arrow"
      />
    </div>

    <div class="grid--process__item grid--process--mb-void"></div>
    <div class="grid--process__item grid--process--mb-void"></div>

    <div class="grid--process__item">
      <img
        class="grid--process__item__icon grid--process__item__icon--right"
        src="images/body icon.svg"
        alt="body icon"
      />
      <p class="grid--process__item__text">
        <b>The result</b><br />
        Getting our formulas into the hands of people who need it most and
        transforming lives for the better. We believe in improving humankind
        by improving human performance. And that starts with nourishing your
        body with the right fuel.
      </p>
      <div class="grid--process__item__horizontal-line">
        <img src="images/horizontal line.png" alt="horizontal line" />
        <img src="images/point.png" alt="point icon" />
      </div>
    </div>
  </div>
</section>
