<section class="container container--subscribe">
  <h2
    class="container--subscribe__text text--title-medium text--white spacer--bottom-medium"
  >
    subscribe & save
  </h2>

  <div class="grid grid--subscribe">
    <div class="card card--black">
      <img
        class="card--black__logo"
        src="images/cycle icon.png"
        alt="cycle icon"
      />
      <h3 class="card__text card--black__text card--black__text--narrow">
        delivery every 30 days
      </h3>
    </div>

    <div class="card card--black">
      <img
        class="card--black__logo"
        src="images/percent icon.png"
        alt="percent icon"
      />
      <h3
        class="card__text card--black__text card--black__text--very-narrow"
      >
        best value per box
      </h3>
    </div>

    <div class="card card--black">
      <img class="card--black__logo" src="images/x icon.png" alt="x icon" />
      <h3 class="card__text card--black__text">
        no commitment, cancel anytime
      </h3>
    </div>
  </div>
</section>
