.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: $desktop-content-width;
  margin: 0 auto;
  padding: $spacer-medium 0;

  &--blend {
    min-width: 100vw;
    min-height: 500px;
    background-color: $pink;
  }

  &--faq {
    width: 100vw;
    background-color: $light-gray;

    &__content {
      width: $desktop-content-width;
      margin: 0 auto;
    }
  }
}

@media(max-width: 480px) {
  .container {
    padding: $spacer-small 0;
    max-width: 100vw;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    padding: 40px 0;
    max-width: 100vw;
  }
}
