.card {
  &--white {
    &__logo {
      max-width: 42px;
      max-height: 42px;
    }

  }
}

@media (max-width: 480px) {
  .card {
    &--white {
      &__logo {
        max-width: 36px;
        max-height: 36px;
      }

      &__text {
        text-align: left;
      }
    }
  }
}
