.button {
  width: 360px;
  max-width: 95vw;
  min-height: 54px;
  z-index: 1000;
  border-radius: 15px;
  border: none;
  font-size: $text-medium;
  cursor: pointer;

  &--red {
    background-color: red;
    color: white;
  }

  &:hover {
    background-color: white;
    color: red;
  }
}
