.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100px;
  padding: 26px 14px;
  border-radius: 15px;
  gap: 16px;

  &__logo {
    flex-shrink: 0;
    max-width: 42px;
    max-height: 42px;
  }

  &__logo-small {
    max-width: 32px;
    max-height: 32px;
  }

  &__text {
    display: block;
    font-size: $text-small;
    max-width: 170px;
  }

  &--pink {
    background-color: $pink;
  }

  &--black {
    flex-direction: column;
    padding: 0;
    min-height: auto;

    &__text {
      text-align: center;
      color: white;

      &--narrow {
        max-width: 120px;
      }

      &--very-narrow {
        max-width: 80px;
      }
    }
  }

}

@media (max-width: 480px) {
  .card {
    padding: 12px 14px;
    min-height: auto;

    &__logo {
      max-width: 50px;
      max-height: 50px;
    }

    &__text {
      max-width: 100%;
      text-align: center;

      &--wide {
        text-align: left;
      }
    }

    &--pink {
      flex-direction: column;
    }

    &--black {
      flex-direction: row;
      width: 100vw;
      min-height: min-content;
      padding: 10px 20px;
      max-width: 100%;
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .card {
    padding: 12px 14px;
    gap: 10px;

    &__logo {
      max-width: 50px;
      max-height: 50px;
    }

    &--pink {
      flex-direction: column;
    }
  }
}
