.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 26px 14px;
  border-radius: 15px;
  row-gap: 10px;

  &--pink {
    background-color: $pink;
  }

  &__logo {
    flex-shrink: 0;
    max-width: 42px;
  }

  &__text {
    display: block;
    font-size: $text-small;
    max-width: 176px;

    &--narrow {
      max-width: 120px;
    }

    &--very-narrow {
      max-width: 80px;
    }

    &--padding-left {
      padding-left: 16px;
    }
  }

  &--flex-column {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
  }
}
