.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &--black {
    background-color: black;
    padding-bottom: 30px;
  }

  &--wide {
    width: 920px;
  }

  &--full-w {
    min-width: 100vw;
  }

  &--cards {
    flex-direction: row;
    margin: 0 auto;
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100vw;
  }
}
