.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 920px;
  margin: 0 auto;
  padding: $spacer-medium 0;

  &--black {
    position: relative;
    background-color: black;
    padding: $spacer-medium 0;
  }

  &--full-w {
    min-width: 100vw;
  }
}

@media(max-width: 480px) {
  .container {
    padding: $spacer-small 0;
    max-width: 100vw;

    &--black {
      padding: $spacer-large 0;

      &__text {
        transform: translateY(-65%) rotate(-90deg);
        transform-origin: right;
        position: absolute;
        right: 0;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    padding: 40px 0;
    max-width: 100vw;
  }
}
