.faq-section {
  &__item {
    max-width: 100vw;

    &__question {
      display: flex;
      cursor: pointer;
      position: relative;
      max-width: 90vw;
      overflow-y: auto;
      margin: 20px auto;

      &__text {
        font-weight: $text-bold;
      }

      &__arrow {
        position: absolute;
        right: 0;
        font-size: 20px;
        transition: transform 0.3s;
      }
    }

    &__answer {
      max-width: 90vw;
      margin: 0 auto;
      display: none;
      white-space: pre-wrap;
    }
  }

  &__item--active {
    .faq-section__item__question-arrow {
      transform: rotate(180deg);
    }

    .faq-section__item__answer {
      display: block;
    }
  }
}

@media (max-width: 480px) {
  .faq-section {
    &__item {
      &__question {
        padding-right: 30px;
      }
    }
  }
}
