.grid {
  display: grid;
  gap: 16px;
  box-sizing: border-box;

  &--1x4-2x2 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  &--1x3-3x1 {
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  &--3x2-2x3-1x6 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    &--1x4-2x2 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      padding: 0 16px;
    }

    &--1x3-3x1 {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    &--3x2-2x3-1x6 {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 0;
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .grid {
    &--1x4-2x2 {
      gap: 36px;
      padding: 0 36px;
    }

    &--1x3-3x1 {
      width: $tablet-content-width;
      margin: 0 auto;
    }

    &--3x2-2x3-1x6 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      width: $tablet-content-width;
      margin: 0 auto;
    }
  }
}
