.grid {
  &--subscribe {
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    &--subscribe {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .grid {
    &--subscribe {
      width: $tablet-content-width;
      margin: 0 auto;
    }
  }
}
