.navbar {
  width: 100%;
  max-height: $navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 8px 0;
  background-color: white;

  &__text {
    font-size: $text-medium;
    font-weight: $text-bold;
  }
}
