.slider-container {
  width: 100%;
  margin: 0 auto;
}

.swiper-container {
  min-height: 300px;
  position: relative;
}

.swiper-slide {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 100px;

  &__text {
    max-width: 320px;
  }
}

.swiper-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;

  &__img {
    width: 112px;
  }

  &__text {
    max-width: 120px;
    text-align: center;
  }
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 10px;
}

.swiper-navigation-container {
  width: 180px;
  height: 30px;
  position: absolute;
  bottom: -50px;
  left: calc(50% - 100px);
  z-index: 100;
}

.swiper-button-custom::after {
  color: black;
  font-size: 20px !important;
  font-weight: 800;
}

.swiper-pagination-bullet {
  background: none !important;
  border: 1px solid black !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
}

@media (max-width: 540px) {
  .swiper-slide {
    flex-direction: column;
    gap: 40px;

    &__text {
      text-align: center;
    }
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  .swiper-slide {
    flex-direction: column;
    gap: 40px;

    &__text {
      text-align: center;
      max-width: 560px;
    }
  }
}
