.spacer {
  &--top-small {
    padding-top: $spacer-small;
  }

  &--top-medium {
    padding-top: $spacer-medium;
  }

  &--top-large {
    padding-top: $spacer-large;
  }

  &--bottom-small {
    padding-bottom: $spacer-small;
  }

  &--bottom-medium {
    padding-bottom: $spacer-medium;
  }

  &--bottom-large {
    padding-bottom: $spacer-large;
  }
}
