.text {
  &--white {
    color: white;
  }

  &--centered {
    text-align: center;
  }

  &--semi-bold {
    font-weight: 400;
  }

  &--bold {
    font-weight: 500;
  }

  &--small {
    font-size: $text-small;
  }

  &--medium {
    font-size: $text-medium;
  }
}

b {
  font-weight: 600;
}
