.text {
  &--title-medium {
    font-size: $text-medium;
    font-weight: $text-bold;
    text-align: center;
    margin: 0 auto;
  }

  &--title-large {
    font-size: $text-large;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
  }

  &--red {
    color: red;
  }

  &--white {
    color: white;
  }

  &--centered {
    text-align: center;
  }

  &--semi-bold {
    font-weight: 400;
  }

  &--bold {
    font-weight: $text-bold;
  }

  &--small {
    font-size: $text-small;
  }

  &--medium {
    font-size: $text-medium;
  }

  &--right {
    text-align: right;
  }
}

b {
  font-weight: $text-bold;
}

@media (max-width: 480px) {
  .text {
    &--title-medium {
      max-width: 310px;
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .text {
    &--title-medium {
      max-width: 400px;
    }

    &--title-large {
      max-width: 600px;
    }
  }
}
