.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.container--black {
  background-color: black;
  padding-bottom: 30px;
}
.container--wide {
  width: 920px;
}
.container--full-w {
  min-width: 100vw;
}
.container--cards {
  flex-direction: row;
  margin: 0 auto;
  gap: 20px;
}

@media (max-width: 1024px) {
  .container {
    width: 100vw;
  }
}
.spacer--small {
  margin: 30px 0;
}
.spacer--medium {
  margin: 50px 0;
}
.spacer--large {
  margin: 70px 0;
}

.navbar {
  width: 100%;
  max-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 8px 0;
  background-color: white;
}
.navbar__text {
  font-size: 22px;
  font-weight: 600;
}

.hero {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  background-image: url("../../public/main img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero__text, .hero__button {
  position: relative;
  text-align: center;
}
.hero__text {
  max-width: 600px;
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 1rem;
  color: white;
}
.hero__button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  bottom: 40px;
}

@media (max-width: 480px) {
  .hero {
    height: calc(100vh - 44px);
    background-image: url("../../public/main img mobile.jpg");
  }
  .hero__button {
    bottom: 40px;
  }
  .hero__text {
    max-width: 330px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .hero {
    height: calc(100vh - 44px);
    background-image: url("../../public/main img tablet.jpg");
  }
  .hero__button {
    bottom: 200px;
  }
}
.button {
  width: 360px;
  max-width: 95vw;
  min-height: 54px;
  z-index: 1000;
  border-radius: 15px;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
.button--red {
  background-color: red;
  color: white;
}
.button:hover {
  background-color: white;
  color: red;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 26px 14px;
  border-radius: 15px;
  row-gap: 10px;
}
.card--pink {
  background-color: #f9e8e7;
}
.card__logo {
  flex-shrink: 0;
  max-width: 42px;
}
.card__text {
  display: block;
  font-size: 16px;
  max-width: 176px;
}
.card__text--narrow {
  max-width: 120px;
}
.card__text--very-narrow {
  max-width: 80px;
}
.card__text--padding-left {
  padding-left: 16px;
}
.card--flex-column {
  flex-direction: column;
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
  }
}
.text--white {
  color: white;
}
.text--centered {
  text-align: center;
}
.text--semi-bold {
  font-weight: 400;
}
.text--bold {
  font-weight: 500;
}
.text--small {
  font-size: 16px;
}
.text--medium {
  font-size: 22px;
}

b {
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 100vw;
  overflow-x: hidden;
}/*# sourceMappingURL=styles.css.map */