.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 920px;
  margin: 0 auto;
  padding: 50px 0;
}
.container--subscribe {
  min-width: 100vw;
  position: relative;
  background-color: black;
  padding: 50px 0;
}
.container--usda {
  min-width: 100vw;
  background-color: #f5f5f5;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 30px 0;
}
.container--usda__text {
  max-width: 300px;
}
.container--usda__logo {
  max-width: 110px;
  height: 110px;
}
.container--blend {
  min-width: 100vw;
  min-height: 500px;
  background-color: #f9e8e7;
}
.container--faq {
  width: 100vw;
  background-color: #f5f5f5;
}
.container--faq__content {
  width: 920px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .container {
    padding: 30px 0;
    max-width: 100vw;
  }
  .container--subscribe {
    padding: 70px 0;
  }
  .container--subscribe__text {
    transform: translateY(-65%) rotate(-90deg);
    transform-origin: right;
    position: absolute;
    right: 0;
  }
  .container--usda {
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
  }
  .container--usda__logo {
    min-width: 133px;
    height: auto;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    padding: 40px 0;
    max-width: 100vw;
  }
}
.spacer--top-small {
  padding-top: 30px;
}
.spacer--top-medium {
  padding-top: 50px;
}
.spacer--top-large {
  padding-top: 70px;
}
.spacer--bottom-small {
  padding-bottom: 30px;
}
.spacer--bottom-medium {
  padding-bottom: 50px;
}
.spacer--bottom-large {
  padding-bottom: 70px;
}

.navbar {
  width: 100%;
  max-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 8px 0;
  background-color: white;
}
.navbar__text {
  font-size: 22px;
  font-weight: 600;
}

.hero {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  background-image: url("./../public/main img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero__text, .hero__button {
  position: relative;
  text-align: center;
}
.hero__text {
  max-width: 600px;
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 1rem;
  color: white;
}
.hero__button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  bottom: 40px;
}

@media (max-width: 480px) {
  .hero {
    height: calc(100vh - 44px);
    background-image: url("./../public/main img mobile.jpg");
  }
  .hero__button {
    bottom: 40px;
  }
  .hero__text {
    max-width: 330px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .hero {
    height: calc(100vh - 44px);
    background-image: url("./../public/main img tablet.jpg");
  }
  .hero__button {
    bottom: 200px;
  }
}
.button {
  width: 360px;
  max-width: 95vw;
  min-height: 54px;
  z-index: 1000;
  border-radius: 15px;
  border: none;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  background-color: black;
  color: white;
  margin: 0 auto;
}
.button:hover {
  background-color: rgb(50, 50, 50);
}
.button--red {
  background-color: red;
  color: white;
}
.button--red:hover {
  background-color: rgb(255, 70, 70);
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 26px 14px;
  border-radius: 15px;
  gap: 16px;
}
.card__logo {
  flex-shrink: 0;
  max-width: 42px;
  max-height: 42px;
}
.card__logo-small {
  max-width: 42px;
  max-height: 42px;
}
.card__text {
  display: block;
  font-size: 16px;
  max-width: 170px;
}
.card--pink {
  background-color: #f9e8e7;
}
.card--black {
  flex-direction: column;
  padding: 0;
  min-height: auto;
}
.card--black__text {
  text-align: center;
  color: white;
}
.card--black__text--narrow {
  max-width: 120px;
}
.card--black__text--very-narrow {
  max-width: 80px;
}
.card--ingredient {
  flex-direction: column;
  padding: 0;
  gap: 0;
}

@media (max-width: 480px) {
  .card {
    padding: 12px 14px;
    min-height: auto;
  }
  .card__logo {
    max-width: 50px;
    max-height: 50px;
  }
  .card__text {
    max-width: 100%;
    text-align: center;
  }
  .card__text--wide {
    text-align: left;
  }
  .card--pink {
    flex-direction: column;
  }
  .card--black {
    flex-direction: row;
    width: 100vw;
    min-height: -moz-min-content;
    min-height: min-content;
    padding: 10px 20px;
    max-width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .card {
    padding: 12px 14px;
    gap: 10px;
  }
  .card__logo {
    max-width: 50px;
    max-height: 50px;
  }
  .card--pink {
    flex-direction: column;
  }
}
.text--title-medium {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}
.text--title-large {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}
.text--red {
  color: red;
}
.text--white {
  color: white;
}
.text--centered {
  text-align: center;
}
.text--semi-bold {
  font-weight: 400;
}
.text--bold {
  font-weight: 600;
}
.text--small {
  font-size: 16px;
}
.text--medium {
  font-size: 22px;
}
.text--right {
  text-align: right;
}

b {
  font-weight: 600;
}

@media (max-width: 480px) {
  .text--title-medium {
    max-width: 310px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .text--title-medium {
    max-width: 400px;
  }
  .text--title-large {
    max-width: 600px;
  }
}
.grid {
  display: grid;
  gap: 16px;
}
.grid--4-cards {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.grid--subscribe {
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.grid--performance {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid--process {
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.grid--process__item__icon {
  display: none;
}
.grid--process__item__text--right {
  text-align: right;
}
.grid--process__item__arrow {
  display: none;
}
.grid--process__middle {
  display: flex;
  justify-content: center;
  max-width: 50px;
  grid-row: span 4;
}
.grid--process__middle__icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 84px;
  gap: 106px;
}
.grid--process__middle__vector {
  display: flex;
  flex-direction: column;
  width: auto;
  position: relative;
}
.grid--process__middle__vector__point {
  position: absolute;
  width: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.grid--process__middle__vector__point--bottom {
  position: absolute;
  width: 12px;
  left: 50%;
  transform: translateX(-50%);
  top: 635px;
}

@media (max-width: 480px) {
  .grid--subscribe {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .grid--performance {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0;
  }
}
@media (max-width: 541px) {
  .grid--4-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .grid--process {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
  }
  .grid--process__item {
    text-align: right;
    padding: 0 14px;
    position: relative;
  }
  .grid--process__item__icon {
    display: block;
    padding-bottom: 26px;
  }
  .grid--process__item__icon--right {
    margin-left: auto;
  }
  .grid--process__item__text {
    padding-left: 20%;
  }
  .grid--process__item__text--right {
    text-align: left;
    padding-left: 0;
    padding-right: 20%;
  }
  .grid--process__item__arrow {
    position: relative;
    bottom: -30px;
    display: block;
    margin: 0 auto;
  }
  .grid--process__item__arrow--flipped {
    transform: scale(-1, 1);
  }
  .grid--process--mb-void {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .grid--4-cards {
    gap: 36px;
    padding: 0 36px;
  }
  .grid--subscribe {
    width: 80%;
    margin: 0 auto;
  }
  .grid--performance {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
  }
  .grid--process {
    padding: 0 20px;
    row-gap: 0;
  }
}
.horizontal-line {
  display: flex;
  align-items: center;
}
.horizontal-line--right {
  justify-content: right;
}

@media (max-width: 768px) {
  .horizontal-line {
    display: none;
  }
}
footer {
  height: 30px;
}

.slider-container {
  width: 100%;
  margin: 0 auto;
}

.swiper-container {
  min-height: 300px;
  position: relative;
}

.swiper-slide {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 100px;
}
.swiper-slide__text {
  max-width: 320px;
}

.swiper-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.swiper-grid__img {
  width: 112px;
}
.swiper-grid__text {
  max-width: 120px;
  text-align: center;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 10px;
}

.swiper-navigation-container {
  width: 180px;
  height: 30px;
  position: absolute;
  bottom: -50px;
  left: calc(50% - 100px);
  z-index: 100;
}

.swiper-button-custom::after {
  color: black;
  font-size: 20px !important;
  font-weight: 800;
}

.swiper-pagination-bullet {
  background: none !important;
  border: 1px solid black !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
}

@media (max-width: 540px) {
  .swiper-slide {
    flex-direction: column;
    gap: 40px;
  }
  .swiper-slide__text {
    text-align: center;
  }
}
@media (min-width: 541px) and (max-width: 1024px) {
  .swiper-slide {
    flex-direction: column;
    gap: 40px;
  }
  .swiper-slide__text {
    text-align: center;
    max-width: 560px;
  }
}
.faq-section .faq-item {
  max-width: 100vw;
}
.faq-section .faq-item .faq-question {
  display: flex;
  cursor: pointer;
  position: relative;
  max-width: 90vw;
  overflow-y: auto;
  margin: 20px auto;
}
.faq-section .faq-item .faq-question__text {
  font-weight: 600;
}
.faq-section .faq-item .faq-question .arrow {
  position: absolute;
  right: 0;
  font-size: 20px;
  transition: transform 0.3s;
}
.faq-section .faq-item .faq-answer {
  max-width: 90vw;
  margin: 0 auto;
  display: none;
  white-space: pre-wrap;
}
.faq-section .active .arrow {
  transform: rotate(180deg);
}
.faq-section .active .faq-answer {
  display: block;
}

@media (max-width: 480px) {
  .faq-section .faq-item .faq-question {
    padding-right: 30px;
  }
}
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 100vw;
  overflow-x: hidden;
}/*# sourceMappingURL=styles.css.map */