.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 920px;
  margin: 0 auto;
  padding: 50px 0;
}
.container--subscribe {
  min-width: 100vw;
  position: relative;
  background-color: black;
  padding: 50px 0;
}
.container--usda {
  min-width: 100vw;
  background-color: #f5f5f5;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 30px 0;
}
.container--usda__text {
  max-width: 300px;
}
.container--usda__logo {
  max-width: 110px;
  height: 110px;
}
.container--blend {
  min-width: 100vw;
  min-height: 500px;
  background-color: #f9e8e7;
}
.container--faq {
  min-width: 100vw;
  min-height: 500px;
  background-color: #f5f5f5;
}

@media (max-width: 480px) {
  .container {
    padding: 30px 0;
    max-width: 100vw;
  }
  .container--subscribe {
    padding: 70px 0;
  }
  .container--subscribe__text {
    transform: translateY(-65%) rotate(-90deg);
    transform-origin: right;
    position: absolute;
    right: 0;
  }
  .container--usda {
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
  }
  .container--usda__logo {
    min-width: 133px;
    height: auto;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    padding: 40px 0;
    max-width: 100vw;
  }
}
.spacer--top-small {
  padding-top: 30px;
}
.spacer--top-medium {
  padding-top: 50px;
}
.spacer--top-large {
  padding-top: 70px;
}
.spacer--bottom-small {
  padding-bottom: 30px;
}
.spacer--bottom-medium {
  padding-bottom: 50px;
}
.spacer--bottom-large {
  padding-bottom: 70px;
}

.navbar {
  width: 100%;
  max-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 8px 0;
  background-color: white;
}
.navbar__text {
  font-size: 22px;
  font-weight: 600;
}

.hero {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  background-image: url("./../public/main img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero__text, .hero__button {
  position: relative;
  text-align: center;
}
.hero__text {
  max-width: 600px;
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 1rem;
  color: white;
}
.hero__button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  bottom: 40px;
}

@media (max-width: 480px) {
  .hero {
    height: calc(100vh - 44px);
    background-image: url("./../public/main img mobile.jpg");
  }
  .hero__button {
    bottom: 40px;
  }
  .hero__text {
    max-width: 330px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .hero {
    height: calc(100vh - 44px);
    background-image: url("./../public/main img tablet.jpg");
  }
  .hero__button {
    bottom: 200px;
  }
}
.button {
  width: 360px;
  max-width: 95vw;
  min-height: 54px;
  z-index: 1000;
  border-radius: 15px;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
.button--red {
  background-color: red;
  color: white;
}
.button:hover {
  background-color: white;
  color: red;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 26px 14px;
  border-radius: 15px;
  gap: 16px;
}
.card__logo {
  flex-shrink: 0;
  max-width: 42px;
  max-height: 42px;
}
.card__logo-small {
  max-width: 32px;
  max-height: 32px;
}
.card__text {
  display: block;
  font-size: 16px;
  max-width: 170px;
}
.card--pink {
  background-color: #f9e8e7;
}
.card--black {
  flex-direction: column;
  padding: 0;
  min-height: auto;
}
.card--black__text {
  text-align: center;
  color: white;
}
.card--black__text--narrow {
  max-width: 120px;
}
.card--black__text--very-narrow {
  max-width: 80px;
}

@media (max-width: 480px) {
  .card {
    padding: 12px 14px;
    min-height: auto;
  }
  .card__logo {
    max-width: 50px;
    max-height: 50px;
  }
  .card__text {
    max-width: 100%;
    text-align: center;
  }
  .card__text--wide {
    text-align: left;
  }
  .card--pink {
    flex-direction: column;
  }
  .card--black {
    flex-direction: row;
    width: 100vw;
    min-height: -moz-min-content;
    min-height: min-content;
    padding: 10px 20px;
    max-width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .card {
    padding: 12px 14px;
    gap: 10px;
  }
  .card__logo {
    max-width: 50px;
    max-height: 50px;
  }
  .card--pink {
    flex-direction: column;
  }
}
.text--title-medium {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}
.text--title-large {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
}
.text--white {
  color: white;
}
.text--centered {
  text-align: center;
}
.text--semi-bold {
  font-weight: 400;
}
.text--bold {
  font-weight: 500;
}
.text--small {
  font-size: 16px;
}
.text--medium {
  font-size: 22px;
}
.text--right {
  text-align: right;
}

b {
  font-weight: 600;
}

@media (max-width: 480px) {
  .text--title-medium {
    max-width: 310px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .text--title-medium {
    max-width: 400px;
  }
  .text--title-large {
    max-width: 600px;
  }
}
.grid {
  display: grid;
  gap: 16px;
  box-sizing: border-box;
}
.grid--4-cards {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.grid--subscribe {
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.grid--performance {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid--process {
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.grid--process__item {
  height: 100px;
}
.grid--process__middle {
  display: flex;
  justify-content: center;
  max-width: 50px;
  grid-row: span 4;
}
.grid--process__middle__icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 84px;
  gap: 106px;
}
.grid--process__middle__vector {
  display: flex;
  flex-direction: column;
  width: auto;
  position: relative;
}
.grid--process__middle__vector__point {
  position: absolute;
  width: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.grid--process__middle__vector__point--bottom {
  position: absolute;
  width: 12px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
}

@media (max-width: 480px) {
  .grid--4-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0 16px;
  }
  .grid--subscribe {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .grid--performance {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0;
  }
  .grid--process {
    overflow: hidden;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .grid--4-cards {
    gap: 36px;
    padding: 0 36px;
  }
  .grid--subscribe {
    width: 80%;
    margin: 0 auto;
  }
  .grid--performance {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
  }
  .grid--process {
    padding: 0 20px;
  }
}
.horizontal-line {
  display: flex;
  align-items: center;
}
.horizontal-line--right {
  justify-content: right;
}

footer {
  height: 30px;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 100vw;
  overflow-x: hidden;
}/*# sourceMappingURL=styles.css.map */